@model IEnumerable<Cinemaat_layers.VIEW.Models.ReviewViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Order/OrderStyle.css">
</head>

<body class="text-white">
    

    <p>
        @{
            var Email = new Byte[20];
            bool nameOK = Context.Session.TryGetValue("Email", out Email);
        }
        @{
            if (nameOK)
            {
                string EmailString = System.Text.Encoding.UTF8.GetString(Email);
            
                    foreach (var item in Model)
                    {
                        <h1>@Html.ActionLink("Schrijf Een Review!", "WriteReview", "Review", new { movieId = item.MovieId }, new { id = "OT", style = "color: white" })</h1>
                    break;
                }
            }
            else
            {
                <h1>Alle Reviews</h1>
            }
                        }
                    
            </p>
    <table class="table text-white">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.ReviewId)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Review)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    Geschreven door
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ReviewId)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Review)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
